# This is my notebook in ECE 2112!

#### Python Base Types - these are the data types in Python

In [ ]:
type(346)

In [ ]:
type(45.3)

In [ ]:
type('c')

In [ ]:
type(True)

#### Python Type Conversion

How will I convert 34.5 to integer?

In [ ]:
int(34.5)

How will I convert 45 to float?

In [ ]:
float(45)

#### Operations on INTs and FLOATs

In [ ]:
#Addition
78+85

In [ ]:
#Subtraction
78-85

In [ ]:
#Multiplication
78*85

In [ ]:
#Exponentiation
78**85

In [ ]:
#Division (Float) - isang dash lang
20/6

In [ ]:
#Division (Int) - dalawang slash
20//6

In [ ]:
#Modulo - remainder
20%6

#### Operations on Strings

Strings - letters, special characters, spaces, digits that are enclosed in a pair of either single or double quotation marks.

In [ ]:
s = "Advanced Programming"

In [ ]:
s.swapcase()

In [ ]:
#Dependent on ASCII codes
max(s)

In [ ]:
s.isupper()

In [ ]:
s.replace("m", "*")

In [ ]:
x = "gram" in s
x

In [ ]:
#Slicing - string_name[index ng first element: number of characters: increment]
s[0:20:4]

In [ ]:
txt = "I love {}"
txt.format(s)

### Python Data Structures

Python Data Structures - any objects that holds arbitrary number of objects.

##### List - is a collection of data which uses straight brackets [  ] and commas to separate the object.

In [ ]:
m = ["apple", "banana", "cherry"]

In [ ]:
print(m[1])

In [ ]:
print(m[-1])

In [ ]:
m.append("mango")
m

In [ ]:
m.insert(2,"orange")
m

In [ ]:
m.remove("banana")
m

In [ ]:
m.sort()
m

In [ ]:
del m[1]
m

##### Dictionary - uses curly braces and colons to signify the keys to their associated values

In [ ]:
d = {"brand":"Mitsubishi", "model":"Mirage", "year": 2018}
d

In [ ]:
d.get("model")

In [ ]:
d["color"] = "pink"
d

In [ ]:
d.keys()

In [ ]:
d.pop("model")
d

In [ ]:
d.popitem()
d

##### Tuple - collection of data which is immutable

In [2]:
t = "apple", "banana", "cherry", "mango", "orange"
t

('apple', 'banana', 'cherry', 'mango', 'orange')

In [ ]:
print(t[1])

In [ ]:
print(t[-2])

In [3]:
print(t[2:3])

('cherry',)

In [ ]:
t[2] = "orange"

In [ ]:
len(t)

In [ ]:
del t
t

##### Set - collection of unique data elements which is unordered

In [ ]:
s = {"apple", "banana", "cherry", "cherry"}
s

In [ ]:
s.add("orange")
s

In [ ]:
s.update(["mango", "grapes"])
s

In [ ]:
s.remove("banana")
s

In [ ]:
s.pop()
s

### Input and Output in Python

#### Input (Strings)

Syntax: text = input("")

In [ ]:
p = input("Enter your name: ")

#### Input (Int or Float)

Syntax: 
n = int(input(""))
n = float(input(""))

In [ ]:
n = int(input("Enter a number: "))

In [ ]:
n = float(input("Enter a number: "))

#### Output

Syntax: print()

In [ ]:
print("Hello World")

In [ ]:
print(n)

In [ ]:
print("My favorite number is", n, "and I used it earlier")