# Base Computing with Python - Part 2

### Conditional Statement - simple IF statement

In [1]:
#Syntax:

#if <expr>:
    #<statement>

In [2]:
#Example:
a = 33; b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [3]:
#Another Syntax:

#if <expr>: <statement>

In [4]:
#Example:
a = 33; b = 200
if b > a: print("b is greater than a")

b is greater than a

### Conditional Statement - compound IF statement

In [5]:
#Syntax:

#if <expr>:
    #<statement1>
    #<statement2>
    #<statementn>

In [6]:
#Example:
grade = 58
if grade < 60:
    print("I'm sorry")
    print("You failed")

I'm sorry
You failed

In [7]:
#Another Syntax:

#if <expr>: <statement1>; <statement2> ... <statement1n>

In [8]:
#Example:
grade = 58
if grade < 60: print("I'm sorry"); print("You failed")

I'm sorry
You failed

### Conditional Statement - ELSE and ELIF statement

#### Using ELIF and ELSE in an IF statement

In [9]:
#Syntax:

#if <expr>:
    #<statement1>
#elif <expr>:    
    #<statement2>
#elif <expr>:    
    #<statement3>
#else:
    #<statement4>

In [10]:
#Example:
a = 33; b = 33
if b > a:
    print("b is greater than a")
elif b == a:
    print("b is equal to a")
else:
    print("b is less than a")

b is equal to a

#### Using ELSE in an IF statement (1 liner)

In [11]:
#Syntax:

#<statement_True> if <expr> else <statement_False>

In [12]:
a = 20; b = 33
print("A") if a > b else print("B")

B

### Pass Statement - used when a statement is required syntactically but you do not want any command or code to execute

In [13]:
#Syntax:

#if <expr>:
    #pass
    
#<statements>

In [14]:
if a > b:
    pass #do nothing

### Looping Statement

#### for loop - need of sequence (string, set, list, dictionary, tuple)

In [15]:
#Syntax:

#for iterating_var in sequence:
    #statement

In [16]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### Break Statement - stops the loop before it has looped all through items

In [17]:
fruits = ["apple", "banana", "cherry", "mango"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

#### Continue Statement - stops at the current iteration then proceeds to the next

In [18]:
fruits = ["apple", "banana", "cherry", "mango"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry
mango

#### while statement

In [19]:
#Syntax:

#Note: if the expression is TRUE, uulit ako. kapag hindi, eexit na ng loop

#while expression: 
    #statement

In [20]:
i = 1
while i < 6:
    print(i)
    i += 1 # i = i+1

1
2
3
4
5

### Functions (Built-in) - readily available from the library

In [21]:
from math import * #* - all

x = tan(pi/4)
y = round(47.8)

#### Functions (Custom) - user-defined

In [22]:
#Syntax:
#def <name ng function>(arguments/input)
#print - strings    

def my_function(name):
	print("Hello " + name)

my_function("Madee")

Hello Madee

In [23]:
#Syntax:
#def <name ng function>(arguments/input)
#return - numbers  

def my_function(x):
    y = 5 * x
    return y

my_function(3)

15

In [24]:
fruits = ["apple", "banana"]

def my_function(food):
	for x in food:
		print(x)

my_function(fruits)

#fruits == food

apple
banana

In [25]:
#Python Demo 1

def squaresum(n):
    sm = 0
    for i in range(1, n+1):
        sm = sm+(i**2)
    return sm

squaresum(5)

55

In [26]:
#Python Demo 2

from math import *
def polysum(n,s):
    perimeter = n*s
    area = (0.25*n*s**2)/tan(pi/n)
    op = area + perimeter**2
    return round(op,4)

polysum(6,8)

2470.2769

In [27]:
#Python Demo 3

d = {} #container for the dictionary na ipi-print
for x in range(1,16):
    d[x] = x**2
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}